
    <div class="demo-graphs mdl-cell mdl-cell--4-col" id="buttons"
                 style="margin-bottom: 0; margin-top: 0; padding-top: 16px; padding-bottom:0; padding-left:16px">
                <div id="alignbuttons" style="display: table-row;">
                    <button id="FirstPageButton"
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            style="display: inline-block; background-color: #546E7A; color: rgba(255, 255, 255, 0.56)">
                        <i class="material-icons" style="display: table-cell;">arrow_back</i>
                    </button>
                    <div class="mdl-tooltip" for="FirstPageButton" style="background-color: #77b55a">
                        First Page
                    </div>

                    <button id="PageDownButton"
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            style="display: inline-block; background-color: #546E7A; color: rgba(255, 255, 255, 0.56)">
                        <i class="material-icons" style="display: table-cell;">remove</i>
                    </button>
                    <div class="mdl-tooltip" for="PageDownButton" style="background-color: #77b55a">
                        Previous Page
                    </div>

                    <button id="PageUpButton"
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            value=1
                            style="display: inline-block; background-color: #546E7A; color: rgba(255, 255, 255, 0.56)">
                        <i class="material-icons" style="display: table-cell;">add</i>
                    </button>
                    <div class="mdl-tooltip" for="PageUpButton" style="z-index: 1000; left: 260px; margin-left: -50px; top: 114px; background-color: rgb(119, 181, 90);" data-upgraded=",MaterialTooltip">
                        Next Page
                    </div>

                </div>
            </div>

            <div class="demo-graphs mdl-cell mdl-cell--12-col" style="padding:0px 0px; margin-top: 16px">
                <div id="transactions_table_div" style="width:100%; height:100%;"></div>
            </br>
            </br>
            </br>
            </br>
            </div>

